@charset 'utf-8';

html, body, #wrapper, #wrapper iframe {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#wrapper {
  background-color: black;
  display: grid;
}
#ctrl {
  left: 0;
  position: fixed;
  top: 0;
}
